p{
	float: left;
	margin-left: 10px;
	font-family: arial;
	font-size: 21px;
	font: bold;
}

#rojo, #azul, #verde, #amarillo, #color{
	width: 80px;
	height: 80px;
	float: left;
	border: solid;
	border-radius: 10px;
}
#rojo{
	background-color: #8A0808;
	margin-left: 360px;
	margin-top: 10px;
}
#azul{
	background-color: #0B0B61;
	margin-left: -220px;
	margin-top: 120px;
}
#verde{
	background-color: #0B610B;
	margin-left: 40px;
	margin-top: 120px;
}
#amarillo{
	background-color: #868A08;
	margin-left: -230px;
	margin-top: 220px;
}
#negro{
	width: 120px;
	height: 50px;
	background-color: #000;
	margin-left: -110px;
	margin-top: 120px;
	float: left;
	border: solid;
	color: #FFF;
	text-align: center;
	padding-top: 30px;
	border-radius: 20px;
}
